
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- about -->
<div class="services">
    <div class="container">
        <div class="w3layouts_header">
            <h2>about <span> us</span></h2>
            <p><span><i class="fa fa-info-circle" aria-hidden="true"></i></span></p>
        </div>
        <div class="w3layouts_skills_grids">
            <div class="col-md-6 agileinfo_about_left">
                <h4>Etiam non turpis sit amet nisl lacinia vehicula ac sollicitudin ex blandit leo tempor</h4>
                <p>
                    Phasellus pharetra velit eu felis pretium, nec eleifend ante varius.
                    Proin eget ante sit amet leo rhoncus scelerisque. Cum sociis natoque penatibus et
                    magnis dis parturient montes, nascetur ridiculus mus.
                    <i>
                        Etiam non turpis sit amet nisl lacinia vehicula ac sollicitudin ex. Maecenas
                        bibendum nisi purus, in ullamcorper nisl aliquam id.
                    </i>
                    Suspendisse maximus vestibulum consectetur. Aliquam erat volutpat.
                    Proin eu lacus at nulla commodo feugiat eleifend sit amet mauris.
                </p>
            </div>
            <div class="col-md-6 agileinfo_about_right">
                <img src="~/images/1.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- team -->
<div class="skills">
    <div class="container">
        <div class="w3layouts_header w3_agile_head">
            <h3>Our <span>Team</span></h3>
            <p><span><i class="fa fa-users" aria-hidden="true"></i></span></p>
        </div>
        <div class="w3layouts_skills_grids">
            <div class="col-md-3 agile_team_grid">
                <div class="agileits_w3layouts_team_grid">
                    <img src="~/images/t2.jpg" alt=" " class="img-responsive" />
                    <div class="agileits_w3layouts_team_grid_pos">
                        <ul class="agileits_social_list">
                            <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h4>Williamson</h4>
                <p>Lorem</p>
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="agileits_w3layouts_team_grid">
                    <img src="~/images/t3.jpg" alt=" " class="img-responsive" />
                    <div class="agileits_w3layouts_team_grid_pos">
                        <ul class="agileits_social_list">
                            <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h4>Faulkner</h4>
                <p>Lorem</p>
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="agileits_w3layouts_team_grid">
                    <img src="~/images/t4.jpg" alt=" " class="img-responsive" />
                    <div class="agileits_w3layouts_team_grid_pos">
                        <ul class="agileits_social_list">
                            <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h4>Simmons</h4>
                <p>Lorem</p>
            </div>
            <div class="col-md-3 agile_team_grid">
                <div class="agileits_w3layouts_team_grid">
                    <img src="~/images/t1.jpg" alt=" " class="img-responsive" />
                    <div class="agileits_w3layouts_team_grid_pos">
                        <ul class="agileits_social_list">
                            <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <h4>Matin</h4>
                <p>Lorem</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->
<!-- stats -->
<div class="services">
    <div class="container">
        <div class="w3layouts_header">
            <h3>Our <span>Stats</span></h3>
            <p><span><i class="fa fa-stack-exchange" aria-hidden="true"></i></span></p>
        </div>
        <div class="w3layouts_skills_grids">
            <div class="col-md-3 wthree_stats_grid">
                <div class="w3_agileits_stats_grid">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3>Skilled Employees</h3>
                    <p class="counter w3_agile_counter">974</p>
                </div>
            </div>
            <div class="col-md-3 wthree_stats_grid">
                <div class="w3_agileits_stats_grid">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <h3>win awards</h3>
                    <p class="counter w3_agile_counter1">527</p>
                </div>
            </div>
            <div class="col-md-3 wthree_stats_grid">
                <div class="w3_agileits_stats_grid">
                    <i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>
                    <h3>creative designs</h3>
                    <p class="counter w3_agile_counter2">646</p>
                </div>
            </div>
            <div class="col-md-3 wthree_stats_grid">
                <div class="w3_agileits_stats_grid">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <h3>Market Stats</h3>
                    <p class="counter w3_agile_counter3">458</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //stats -->
<!-- subscribe -->
<div class="footer-top">
    <div class="container">
        <div class="col-md-4 welcome">
            <h3>Andragogy</h3>
            <p>The opportunity to help students learn and grow. Come be a part of our schools, whether as an involved parent, a student, a community volunteer, or a partner. Pulling together, we can accomplish our goal.</p>
        </div>
        <div class="col-md-3 address">
            <h3>Address</h3>
            <p>
                Eiusmod Tempor inc
                <span>St Dolore Place,Kingsport 56777.</span>
            </p>
            <p class="phone">
                Phone : +1 123 456 789
                <span>Email : <a href="mailto:example@email.com">mail@example.com</a></span>
                <span>FAX : <a href="mailto:example@email.com">123 456 7890</a></span>
            </p>
        </div>
        <div class="col-md-5 wthree-subscribe">
            <h3>Newsletter </h3>
            <p>Receive the latest useful information, daily.</p>
            <div class="w3-agileits-subscribe-form">
                <form action="#" method="post">
                    <input type="text" placeholder="Email" name="Subscribe" required="">
                    <button class="btn1">Subscribe</button>
                </form>
            </div>
            <div class="agile_header_social">
                <ul class="agileits_social_list">
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //subscribe -->